body {
    background-image: url("../images/background1.jpg"), url("../images/idea2.png");
    background-size: 100vh;
    background-size: cover, 100%;
    background-repeat: no-repeat, repeat;
    /* background-blend-mode: normal; */    /* I tried to be clever and blend the bottom of the images */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 221, 221);
    cursor: pointer;
}

/* pages */
#header {
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: linear-gradient(to bottom,rgba(118,50,70,.45), rgba(88, 40, 31, 0.2),rgba(71, 40, 100, 0));
}
.scores {
    margin-top: 25px;
    margin-left: 2%;
    margin-bottom: 4%;
}

/* tags that have to do with images */
img {
    float: left;
    width: 23%;
    padding-left: 4%;
    margin-right: 1%;
}
.test-idea {
    float: right;
    margin-left: 24%;
    padding-top: 40px;
    margin-bottom: 2%;
    padding-left: 1%;
}
.test-idea img {
    width: 29.5%;
    margin-right: 32px;
}


/* override for bootstrap dropdown menu */
.card {
    color: rgb(221, 221, 221);
    background-color: transparent;
    border: none;
}
.card-header {
    background-color: transparent;
}
.card-body {
    font-size: 1.2em;
    background-color: rgba(23, 18, 27, 0.8)
}
.btn-link, .btn-link.focus, .btn-link:focus {
    text-decoration: none;
    color: rgb(221, 221, 221);
}
.btn-link:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}

/* Media queries, mostly for aesthetics and mobile */
@media only screen and (max-width: 1000px) {
    body {
        background-image: url("../images/alright.jpg")
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-image: url("../images/round5.jpg");
    }
    #header {
        background-image: none;
    }
    .scores {
        margin-bottom: 75px;
    }
    img {
        width: 25%;
        padding-left: 1%;
        margin-right: 0;
    }
    .test-idea img {
        width: 30%;
    }
}